body { 
    margin: auto;
        padding: 30px;
        }
        table, th, td {
          text-align: center;
          border:1px solid rgb(0, 0, 0);
          border-collapse: collapse;
          height: 50px;
          margin: 20px;
          padding: 20px;
    }
    
    table {
    width:70% ;
    font-size: x-large
    
    
    ;
    }
       .green {
         background-color: green;
         color: green;
         display: inline-block;
         


       }
       
       .red {
        background-color:red ;
        color:red ;
        display: inline-block;
      }
        
      .logo {
        
        width: 50px;
        background-color: #F0F0F0;
      }
      nav a {
        float: right ;
        margin: 20px;
        border: 1px solid #bea826;
        text-transform: uppercase;
        padding: 10 ;
        
      }
      a {
        text-decoration: none;
        color: black;
        
      }
      header
      {
       display: flex;
       align-items: center;
       height: 70px;
       justify-content: space-between;
       background-color: #F0F0F0 ;
      }
      h2 {
        text-align: center;
        
    
    
      }
    
    
      
      footer {
        text-align: center;
        background-color: #F0F0F0 ;
        height: 50px;
        margin: 30px;
        padding: 20px;
    
    
    
      }
    
    
    